@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 255, 255, 255;
  --color-text: 0, 0, 0;
  --color-accent-one: 255, 165, 0;
  --color-accent-two: 51, 51, 51;
  --border-radius: 0.2rem;
  --border-style: 1px solid rgb(var(--color-accent-one));
  --shadow-box: 0px 0px 3px rgba(var(--color-text), 0.2);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: 0, 0, 0;
    --color-text: 255, 255, 255;
    --color-accent-one: 255, 165, 0;
    --color-accent-two: 51, 51, 51;
    --border-radius: 0.2rem;
    --border-style: 1px solid rgb(var(--color-accent-one));
  }
} */

body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-text));
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.65rem;
}
html {
  font-size: 14px;
}

p {
  font-size: 1rem;
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.65rem;
}
/* Accent One */
.accent-one {
  color: rgb(var(--color-accent-one));
}

/* Accent Two */
.accent-two {
  color: rgb(var(--color-accent-two));
}

/* Borders */
.border {
  border: var(--border-style);
  border-radius: var(--border-radius);
}

.title-verysmall {
  font-family: var(--font-title);
  font-size: 1.618rem;
  font-weight: 900;
  line-height: 1.5rem;
}
.title-small {
  font-family: var(--font-title);
  font-size: 2.618rem;
  font-weight: 900;
  line-height: 2rem;
}
.title-normal {
  font-family: var(--font-title);
  font-size: 4.236rem;
  font-weight: 900;
  line-height: 4rem;
}
.title-big {
  font-family: var(--font-title);
  font-size: 6.854rem;
  font-weight: 900;
  line-height: 6rem;
}
.title-verybig {
  font-family: var(--font-title);
  font-size: 11.089rem;
  font-weight: 900;
  line-height: 11rem;
}
.subtitle-verysmall {
  font-family: var(--font-title);
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.subtitle-small {
  font-family: var(--font-title);
  font-size: 1.618rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.subtitle-normal {
  font-family: var(--font-title);
  font-size: 2.618rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.subtitle-big {
  font-family: var(--font-title);
  font-size: 4.236rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.subtitle-verybig {
  font-family: var(--font-title);
  font-size: 6.854rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.btn {
  font-size: 1rem;
  font-weight: 900;
  width: 15rem;
  height: 2.5rem;
  line-height: 2.5rem;
  box-sizing: border-box;
}

.btn-black {
  background-color: rgb(var(--color-text));
  color: rgb(var(--color-background));
  transition: transform 0.2s ease-in-out;
}
.btn-black:hover {
  transform: translate(0, -0.2rem);
  background-color: rgb(var(--color-accent-one));
  color: rgb(var(--color-background));
}
.btn-black:active {
  background-color: rgb(var(--color-accent-two));
  color: rgb(var(--color-background));
}

.btn-white {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-text));
  transition: transform 0.2s ease-in-out;
}
.btn-white:hover {
  transform: translate(0, -0.2rem);
  background-color: rgb(var(--color-accent-one));
  color: rgb(var(--color-text));
}
.btn-white:active {
  background-color: rgb(var(--color-accent-two));
  color: rgb(var(--color-text));
}

.btn-ghost {
  background-color: transparent;
  color: rgb(var(--color-text));
  transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}
.btn-ghost:hover {
  text-shadow: 0px 1px 3px rgb(var(--color-text));
  color: rgb(var(--color-accent-one));
}
.btn-icon {
  font-size: 2rem;
  text-align: center;
}

.separator::after {
  content: '';
  display: block;
  border-top: 2px solid rgb(var(--color-background));
  margin: 2px;
  width: 100%;
}
@keyframes slideDown {
  0% {
    top: -10%;
  }
  100% {
    top: 0;
  }
}
.fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  background-color: rgb(var(--color-background), 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0px 3px 6px rgba(var(--color-text), 0.16);
  animation: slideDown 0.3s ease-out forwards;
}
