@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 255, 255, 255;
  --color-text: 0, 0, 0;
  --color-accent-one: 255, 165, 0;
  --color-accent-two: 51, 51, 51;
  --border-radius: 0.2rem;
  --border-style: 1px solid rgb(var(--color-text));
  --shadow-box: 0px 0px 3px rgba(var(--color-text), 0.2);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: 0, 0, 0;
    --color-text: 255, 255, 255;
    --color-accent-one: 255, 165, 0;
    --color-accent-two: 51, 51, 51;
    --border-radius: 0.2rem;
    --border-style: 1px solid rgb(var(--color-accent-one));
  }
} */

body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-text));
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.65rem;
}
html {
  font-size: 14px;
}

p {
  font-size: 1rem;
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.65rem;
}

/* Accent One */
.accent-one {
  color: rgb(var(--color-accent-one));
}

/* Accent Two */
.accent-two {
  color: rgb(var(--color-accent-two));
}

/* Borders */
.border {
  border: var(--border-style);
  border-radius: var(--border-radius);
}

/* body * {
  outline: 1px solid red;
} */
